<app-header-other-nav [titleHeader]="titleHeader"></app-header-other-nav>
<main class="container education-container global-author-presentation" [ngClass]="{hideOnSideNav:navBarVisibilityService.hideOnSideNav==true}">
    <blockquote>
        <p class="presentation">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </p>
        <p class="presentation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu
            fugiat nulla pariatur
        </p>
    </blockquote>
    <h2 class="under-section-title">Time Line Knowledge</h2>
    <section class="global-time-line-presentation">
        <article class="article-time-line" *ngFor="let article of educationArticles">
            <div class="article-author-education">
                <div class="article-status">{{article.status}}, <span class="item-color">{{article.subject}}</span></div>
                <div class="article-school-city"><span class="item-color">{{article.school}}</span>, Jerusalem</div>
                <div class="article-year">{{article.year}}</div>
            </div>
            <p class="article-info">
                Doggo ipsum long bois lotsa pats blep. What a nice floof ruff super chub very good spot, the neighborhood
                pupper lotsa pats. Borkdrive shibe shoober what a nice floof, borking doggo.
            </p>
        </article>
    </section>
    <input type="submit" class="home-btn" value="Home" (click)="goTo()">
</main>
<app-footer></app-footer>