<app-header-other-nav [titleHeader]="titleHeader"></app-header-other-nav>
<main class="container other-container global-author-presentation" [ngClass]="{hideOnSideNav:navBarVisibilityService.hideOnSideNav==true}">
    <blockquote>
        <p class="presentation">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </p>
        <p class="presentation">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur
        </p>
        <p class="presentation">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur
        </p>
    </blockquote>
    <section class="hobbies-container">
        <h2 class="under-section-title">Hobbies</h2>

    </section>
    <section class="languages-container">
        <h2 class="under-section-title">Languages</h2>

    </section>
    <input type="submit" class="home-btn" value="Home" (click)="goTo()">
</main>
<app-footer></app-footer>