:host {
    background-image: 
        radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.5), #121212),
        url(../../assets/img/img/coding-effect.jpg);
    background-repeat: no-repeat;
    background-position: 85% 0;
    background-size: 1000px;
    display: block;
}
