<app-header-other-nav [titleHeader]="titleHeader"></app-header-other-nav>
<div class="container contact-successful-container other-nav-container">
    <p class="presentation" [ngClass]="{hideOnSideNav:navBarVisibilityService.hideOnSideNav==true}">
        <span class="item-color">Thank you!</span>
    </p><br>
    <p class="presentation">    
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
    </p>
    <input type="submit" class="home-btn" value="Home" (click)="goTo()">
</div>
<app-footer></app-footer>