<!-- <section class="material-design-bar"></section> -->
<nav class="top-nav-container" id="topNavContainer">
    <section class="logo">
        <div class="toggle-btn" (click)="statusSideNav($event)">
            <i class="fa fa-2x fas fa-bars" [ngClass]="sideNavToggle ? 'barsTransformed' : ''"></i>
            <i class="fa fa-2x fas fa-times" [ngClass]="sideNavToggle ? 'timesTransformed' : ''"></i>
        </div>
        <img src="../../assets/img/logo/gradient-logo.svg" width="100px" [routerLink]="['/home']">
    </section>
    <ul class="top-nav-links with-indicator">
        <li class="top-nav-link" id="{{link.id}}" *ngFor="let link of topNavLinks; let i = index"
            (click)="statusTopNavLink = i ; goTo(link.url, $event)" [class.top-nav-link-cliked]="statusTopNavLink == i"
            (mouseover)="link[i] = true" (mouseleave)="link[i] = false">
            <i class="{{link.fa}}"></i>
            <a>{{link.name}}</a>
        </li>
        <hr>
    </ul>
    <div class="progress-on-scroll-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
</nav>

<aside class="side-nav-container" id="sideNavContainer" [ngClass]="sideNavToggle ? 'side-nav-container-toggled' : ''">
    <ul class="side-nav-links">
        <li class="side-nav-link" id="{{link.id}}" *ngFor="let link of sideNavLinks; let i = index"
            (click)="statusSideNavLink = i ; goTo(link.url)" [class.side-nav-link-cliked]="statusSideNavLink == i">
            <i class="{{link.fa}}"></i>
            <a>{{link.name}}</a>
        </li>
    </ul>
</aside>